*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}
/* NAV BAR */
#title{
    margin-left: 40px;
    color: yellowgreen;
}
ul a{
    text-decoration: none;
    color: pink;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 20px;
}
#navBar ul{
    display: flex;
    
}
#navBar li{
    list-style: none;
    margin-right: 40px;
    font-size: 18px;
    
}